/* Map full */
html, body, #map {
    height:100%;
    width:100%;
    padding:0px;
    margin:0px;
}

.invisible {
    display: none;
}

/* buttons */
#actor-about-toggle {
    font-size: large;
}

/* === Section InfoBox === */
.section-infobox-wrapper {
    padding: 8px 8px;
    background: rgba(255,255,255,1);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
}
.section-infobox-button-toggle-visibility {
    width: 100%;
}
.section-infobox-content {
    margin: 10px 5px 10px 5px;
    font-size: 140%;
    text-align: left;
    color: #000000;
    max-height: 85vh;
    /* min-width: 45vw; */
    /* max-width: 45vw; */
    width: 795px;
    max-width: 795px;
    overflow-y: auto;
}

.section-infobox-content .infobox-desc {
    text-align: justify;
    margin-right: 2vw;
}

.section-infobox-content .infobox-address {
    text-align: justify;
    margin-right: 2vw;
}

.infobox-site {
    text-align: center;
}


/* === === */
.section-about-wrapper {
    padding: 8px 8px;
    background: rgba(255,255,255,1);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
}
.section-about-button-toggle-visibility {
    width: 100%;
}
.section-about-content {
    margin: 10px 5px 10px 5px;
    font-size: 140%;
    text-align: left;
    color: #000000;

    min-width: 35vw;
    max-width: 35vw;
    max-height: 65vh;
    overflow-y: auto;
}

/* in-section content */
.section-about-content div {
    padding: 0.5vw 0 0.5vw 0;
}
