<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{*html.title*}</title>
    <link href="https://fonts.googleapis.com/css?family=PT+Sans" rel="stylesheet" />
    <script type="text/javascript" src="/frontend/jquery/jquery-3.2.1_min.js"></script>
    <script type="text/javascript" src="/frontend/colorbox/jquery.colorbox-min.js"></script>
    <link rel="stylesheet" href="/frontend/colorbox/colorbox.css" />

    <style type="text/css">
        input[required] {
            background-image: radial-gradient(#F00 15%, transparent 16%), radial-gradient(#F00 15%, transparent 16%);
            background-size: 1em 1em;
            background-position: right top;
            background-repeat: no-repeat;
        }
        button {
            font-size: large;
        }
        body {
            font-family: 'PT Sans', sans-serif;
        }
        textarea {
            resize: vertical;
        }
        .g-recaptcha.error {
            border: solid 2px #c64848;
            padding: .2em;
            width: 19em;
        }
    </style>
    <script src='https://www.google.com/recaptcha/api.js'></script>
</head>
<body>
<h2>{*html.title*}</h2>

<form action="{*href.form_action_submit*}" method="POST" id="form-unautharized-add-club">
    <table border="1" width="100%">
        <tr>
            <td colspan="100">
                <strong>ВАЖНО:</strong> Иногда гуглокапча начинает глючить и перестает работать. Все вопросы к гуглу.
                В этом случае просто отправьте письмо на ящик <a href="mailto:rpgclubsrf@yandex.ru">rpgclubsrf@yandex.ru</a>,
                сообщив нам про свой клуб всё, что ввели бы в эту форму.
            </td>
        </tr>
        <!--<tr>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td rowspan="100" width="50%">карта</td>
        </tr>-->
        <tr>
            <td>Email <br/> (для обратной связи)</td>
            <td>
                <input type="email" value="" size="80" name="club:anonadd:owner_email" required>
            </td>
        </tr>
        <tr>
            <td>Кто вы</td>
            <td>
                <small>Расскажите немного о себе. Кто вы? Кого вы представляете? Как с вами связаться кроме электронной почты?</small><br/>
                <textarea cols="70" rows="7" name="club:anonadd:owner_about"></textarea>
            </td>
        </tr>
        <tr>
            <td>Название клуба</td>
            <td><input type="text" value="" size="80" name="club:anonadd:title" required></td>
        </tr>
        <tr>
            <td>Описание клуба</td>
            <td>
                <textarea cols="70" rows="7" name="club:anonadd:desc" required></textarea>
            </td>
        </tr>
        <tr>
            <td>Координаты</td>
            <td>
                <small>Скопируйте сюда строчку с координтами своего клуба с яндекс-карты</small><br/>
                <input type="text" size="20" value="" name="club:anonadd:latlng">
            </td>
        </tr>
        <tr>
            <td>
                <button id="actor-resolve-city" data-target="club:anonadd:address_city">Угадать город</button>
            </td>
            <td>
                <small>Если вы не знаете координаты и не смогли узнать по координатам город - не пишите сюда ничего.</small><br/>
                <input type="text" value="" size="40" name="club:anonadd:address_city">
            </td>
        </tr>
        <tr>
            <td>Адрес клуба:</td>
            <td>
                Укажите адрес клуба, включая город: <br/>
                <input type="text" value="" size="70" name="club:unauthadd:address">
                <hr>
                <small>Если есть какие-то особенности адреса (домофон, охрана в бизнес-центре или
                    третий поворот направо во втором дворе в доме напротив памятника Радагасту) - укажите здесь. Это поможет людям найти вас!</small>
                <br/>
                <textarea cols="70" rows="7" name="club:unauthadd:address_hint"></textarea>
                <!-- <br />
                <button id="actor-parse-address">Попытаться определить координаты и город по адресу</button>
                -->
            </td>
        </tr>
        <tr>
            <td>Баннер</td>
            <td>
                <small>Горизонтальный баннер 795×200 пикселей, обычно из группы ВКонтакте (<a href="https://vk.com/blackforrest" target="_blank">пример</a>)<br/>
                Если вы не знаете как указать ссылку на эту картинку - просто напишите сюда: "из группы ВК"</small><br/>
                <input type="text" value="" size="80" name="club:anonadd:banner_horizontal">
            </td>
        </tr>
        <tr>
            <td>Баннер (другой)</td>
            <td>
                <small>Если у вас нет баннера для группы ВК - укажите хоть какой-нибудь. Мы подумаем, как его показать.</small><br/>
                <input type="text" value="" size="80" name="club:anonadd:banner_vertical">
            </td>
        </tr>
        <tr>
            <td>Формат <br>инфобокса</td>
            <td>
                <small>Тут всё просто. Если вы указали баннер из группы ВК - ничего не меняйте. На самом деле вы можете указать оба
                баннера, а этой опцией позднее можно будет выбрать режим отображения информации о клубе.</small><br/>
                <label>VK Style<input type="radio" name="club:anonadd:infobox_layout" value="VKBanner" checked></label><br>
                <label>Other<input type="radio" name="club:anonadd:infobox_layout" value="Other"></label>
            </td>
        </tr>
        <tr>
            <td>Сайт клуба</td>
            <td>
                <small>Пожалуйста, укажите здесь URL главного сайта вашего клуба. Дополнительные сайты нужно указывать в <strong>описании</strong>, выше.</small> <br/>
                <input type="text" value="" size="80" name="club:anonadd:url_site">
            </td>
        </tr>
        {?*options.captcha_enabled*}
        <tr>
            <td>
                Разумеется, капча:
            </td>
            <td>
                <div id="recaptcha" class="g-recaptcha" data-sitekey="6Lf3akQUAAAAAOv7hXLAmkmj1OTDGElJ5yNlA5z9"></div>
                <small>Есть маленький нюанс. Это временная форма добавления данных, поэтому если вы не пройдете гуглокапчу, но
                нажмете на "подать заявку на рассмотрение", скорее всего вы потеряете все данные, которые сейчас ввели. <br/>
                Будьте внимательны!!!</small>
            </td>
        </tr>
        {?}
        <tr>
            <td colspan="2">
                <span style="color: navy">Вы же понимаете, что я не могу сразу взять и показать ваш клуб на карте? К сожалению, нее все, кто придут на эту
                страницу - уважаемые и доверенные пользователи и действительно хотят добавить клуб, а не просто развлекаются.
                Поэтому мы свяжемся с вами, уточним информацию и после этого, скорее всего, ваш клуб появится на карте. Мы постараемся с вами связаться в течение суток.</span>
            </td>
        </tr>
        <tr>
            <td>
                <button data-url="{*href.frontpage*}" id="actor-quit">НАЗАД,<br/>НА КАРТУ</button>
            </td>
            <td>
                <span style="float: right">
                    <button type="submit" tabindex="8">ПОДАТЬ ЗАЯВКУ<br/> НА РАССМОТРЕНИЕ</button>
                </span>
            </td>
        </tr>
    </table>
</form>

<script type="text/javascript">
    ;$(function(){
        $("input[name='club:anonadd:owner_email']").focus();
    }).on('click', '#actor-quit', function(){
        document.location.href = $(this).data('url');
    }).on('click', '#actor-resolve-city', function(event){
        event.preventDefault();
        event.stopPropagation();

        let url = "{*href.ajax_get_city*}";
        let target = $(this).data('target');

        $.get(url, {
            lat: $("input[name='club:anonadd:lat']").val(),
            lng: $("input[name='club:anonadd:lng']").val(),
            latlng: $("input[name='club:anonadd:latlng']").val()
        }, function(data){
            $("input[name='" + target +"']").val( data );
        });

    }).on('submit', '#form-unautharized-add-club', function(){
        let $captcha = $( '#recaptcha' );
        let response = grecaptcha.getResponse();

        if (response.length === 0) {
            if( !$captcha.hasClass( "error" ) ){
                $captcha.addClass( "error" );
            }
            return false;
        } else {
            $captcha.removeClass( "error" );
            return true;
        }
    });
</script>

</body>
</html>