<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Список клубов</title>
    <script src="/frontend/jquery/jquery-3.2.1_min.js" type="text/javascript"></script>
    <script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js" type="text/javascript"></script>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.16/css/dataTables.bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css">
    <style type="text/css">
        button {
            font-size: large;
        }
        div.container {
            width: 60%;
        }
    </style>
</head>
<body>

<div class="container">
    <table id="navigation" width="99%" border="0">
        <tr>
            <td width="33%" style="text-align: left">
            </td>
            <td width="33%" style="text-align: center">
                Всего клубов: <span style="color: blue">{*summary.clubs_total*}</span><br>
                На карте клубов: <span style="color: blue">{*summary.clubs_visible*}</span>
            </td>
            <td width="33%" style="text-align: right">
                <button id="actor-back-to-frontpage" data-url="{*href.frontpage*}">НА КАРТУ</button>
            </td>
        </tr>
    </table>

    <table border="1" width="100%" id="public_clubs" cellspacing="0" class="display table table-striped table-bordered">
        <thead>
        <tr>
            <th>Одобрено</th>
            <th>Город</th>
            <th>Название</th>
            <th>Адрес</th>
            <th>Сайт</th>
        </tr>
        </thead>
        <tfoot>
        <tr>
            <th>Одобрено</th>
            <th>Название</th>
            <th>Город</th>
            <th>Адрес</th>
            <th>Сайт</th>
        </tr>
        </tfoot>

        <tbody>
        {%*dataset*}
        <tr>
            <td align="center">{?*dataset:is_public*}<h1>+</h1>{?}{?!*dataset:is_public*}<h1>-</h1>{?}</td>
            <td>{*dataset:address_city*}</td>
            <td>{*dataset:title*}</td>
            <td>{*dataset:address*}</td>
            <td>
                {?*dataset:url_site*}<a href="{*dataset:url_site*}" target="_blank">{*dataset:url_site*}</a>{?}
                {?!*dataset:url_site*}не указан{?}
            </td>
        </tr>
        {%}
        </tbody>

    </table>
</div>



<script type="text/javascript">
    $(document).ready(function() {
        $('#public_clubs').DataTable({
            "pageLength": 6,
            "lengthChange": false
        });
    } );

    ;$(function(){
    }).on('click', '#actor-back-to-frontpage', function(){
        document.location.href = $(this).data('url');
    });
</script>


</body>
</html>