<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Список клубов</title>
    <script type="text/javascript" src="/frontend/jquery/jquery-3.2.1_min.js"></script>
    <style type="text/css">
        button {
            font-size: large;
        }
    </style>
</head>
<body>

<table border="1" width="100%">
    <tr>
        <td colspan="100" align="left">
            <table width="100%" border="0">
                <tr>
                    <td width="33%" style="text-align: left">
                        <button id="actor-add-club" data-url="{*href.club_add*}">ADD NEW CLUB</button>
                    </td>
                    <td width="33%" style="text-align: center">
                        Всего клубов: <span style="color: blue">{*summary.clubs_total*}</span><br>
                        На карте клубов: <span style="color: blue">{*summary.clubs_visible*}</span>
                    </td>
                    <td width="33%" style="text-align: right">
                        <button id="actor-back-to-frontpage" data-url="{*href.frontpage*}">BACK TO FRONTPAGE</button>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <th>Control</th>
        <th>Public</th>
        <th>Title</th>
        <th>City</th>
        <th>Address</th>
        <th>URL</th>
        <th>-</th>
    </tr>
    {%*dataset*}
    <tr>
        <td><button data-url="{*href.club_edit*}{*dataset:id*}" class="action-edit-club">EDIT</button></td>
        <td align="center">{?*dataset:is_public*}<h1>+</h1>{?}{?!*dataset:is_public*}<h1>-</h1>{?}</td>
        <td>{*dataset:title*}</td>
        <td>{*dataset:address_city*}</td>
        <td>{*dataset:address*}</td>
        /* <td align="center">{?*dataset:banner_horizontal*}<img src="{*dataset:banner_horizontal*}" width="60"/>{?}
            {?!*dataset:banner_horizontal*}&mdash;{?}
        </td> */
        <td>
            {?*dataset:url_site*}<a href="{*dataset:url_site*}" target="_blank">{*dataset:url_site*}</a>{?}
            {?!*dataset:url_site*}не указан{?}
        </td>
        <td>
            <button data-lat="{*dataset:lat*}" data-lng="{*dataset:lng*}" class="action-focus-at-map">FOCUS</button>
        </td>
    </tr>
    {%}
</table>

<ul>
    <li><a href="{*href.profile*}">Back to profile</a></li>
    <li><a href="{*href.frontpage*}">Back to frontpage</a></li>
</ul>

/*
На самом деле табличка поменьше - EDIT, Название, первые 30 символов адреса, URL, кнопка фокуса

Справа - карта. При нажатии на фокус - делается центровка карты. Это же карта - кусок фронтэндовой карты, но редактировать
или показывать инфу нельзя, максимум всплывает айди.

*/

<script type="text/javascript">
    ;$(function(){
    }).on('click', ".action-edit-club", function(){
        document.location.href = $(this).data('url');
    }).on('click', "#actor-add-club", function(){
        document.location.href = $(this).data('url');
    }).on('click', '#actor-back-to-frontpage', function(){
        document.location.href = $(this).data('url');
    });
</script>


</body>
</html>