{?*dataset.banner_horizontal*}<img src="{*dataset.banner_horizontal*}">{?}
<h2 class="infobox-title">{*dataset.title*}</h2>

<div class="infobox-desc">
    {*dataset.desc*}
</div>

<br/>

<div class="infobox-address">
    <strong>Адрес:</strong><br/> <span style="color: #3388ff">{*dataset.address*} </span>
</div>

<br/>

<div class="infobox-site">
    <a href="{*dataset.url_site*}">{*dataset.url_site*}</a>
</div>
<span style="font-size: xx-small; float: right">Escape - закрыть это окно</span>


