<div style="text-align: left" class="section-infobox-header">
    <h1 class="section-infobox-title">{*dataset.title*}</h1>

    <button
            id="actor-infobox-close"
            class="section-infobox-button-close">X</button>
</div>

<div id="section-infobox-content" class="section-infobox-content">
    {?*dataset.banner_horizontal*}<img src="{*dataset.banner_horizontal*}" width="100%">{?}

    <div class="infobox-desc">
        {*dataset.desc*}
    </div>

    <br/>

    <div class="infobox-address">
        <strong>Адрес:</strong><br/> <span style="color: #3388ff">{*dataset.address*} </span>
    </div>

    <br/>

    <div class="infobox-site">
        <a href="{*dataset.url_site*}">{*dataset.url_site*}</a>
    </div>
</div>
<span style="font-size: xx-small; float: right">Escape - закрыть это окно</span>